<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="container">
  <h2>My Gallery</h2>
  <nav>
  <a href="/members/<%=guitars.id%>/edit">(Edit Guitar)</a>
  </nav>
  <div class="row">
  <div class="columns">
        <img src="<%= guitars.frontImage%>" alt="">
        <img src="<%= guitars.backImage%>" alt="">
      </div>
      </div>
      <div class="u-pull-left">
      <div class="row">
      <div class="columns">
        <ul>
            <li>  Body Shape: <%= guitars.bodyShape%> </li>
            <li>  Top Wood: <%= guitars.topWood%> </li>
            <li>  Back and Sides Wood : <%= guitars.backAndSidesWood%> </li>
            <li>  Neck Wood: <%= guitars.neckWood%> </li>
            <li>  Fretboard: <%= guitars.fretboard%> </li>
            <li>  Body Binding: <%= guitars.bodyBinding%> </li>
            <li>  Neck Binding: <%= guitars.neckBinding%>  </li>
            <li>  Bridge: <%= guitars.bridge%> </li>
            <li>  Trussrod: <%= guitars.trussrod%> </li>
            <li>  Nut: <%= guitars.nut%> </li>
            <li> Audio Sample 1: <audio controls>
              <source src="<%=guitars.audioSample1%>" type="audio/wav">
                </audio>
            </ul>
            </div>
            </div>
            </div>
            <div class="u-pull-left">
            <div class="row">
              <!-- <div class="u-pull-right"> -->
            <div class="columns">
              <!-- <div class="u-pull-right"> -->
              <ul>
            <li>  Saddle: <%= guitars.saddle%> </li>
            <li>  Scale Length: <%=guitars.scaleLength%> </li>
            <li>  # of Frets: <%= guitars.numOfFrets%> </li>
            <li>  Fret Material: <%= guitars.fretMaterial%> </li>
            <li>  Inlay Material: <%= guitars.inlayMaterial%> </li>
            <li>  Tuning Machines: <%= guitars.tuningMachines%> </li>
            <li>  Electronics: <%= guitars.electronics%> </li>
            <li>  Body Finish: <%= guitars.bodyFinish%></li>
            <li>  Neck Finish: <%= guitars.neckFinish%> </li>
            <li>  Website: <a href="<%=guitars.website%>" target="_blank"><%=guitars.website%></a></li>
            <li>  Additional Comments: <%= guitars.additionalComments%> </li>
              </ul>
          </div>
          </div>
          </div>

  <div class="row">
    <div class="columns">

      <a href="/luthiers/">Back to Gallery</a>

      </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
