<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="container">
  <div class="container">
  <h2>Guitars Daddy</h2>
  </div>
  <ul class="column">
    <% for(let i = 0; i < guitars.length; i ++){ %>
      <a href="/luthiers/<%=guitars[i].id; %>"><img src="<%= guitars[i].frontImage%>" class="index-image" alt=""></a>
      <li> <%= guitars[i].bodyShape%> </li>

      <%}%>
  </ul>
</div>
<a href="/luthiers">Back to Top</a>
<%- include('../partials/footer.ejs') %>
