<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="container" style="text-align: center;">
  <div class="row">

  <div class="column">
  <h2>Guitar Gallery</h2>

<!-- <ul> -->


    <% for(let i = 0; i < guitars.length; i ++){ %>
      <td><a href="/luthiers/<%=guitars[i].id; %>"><img src="<%= guitars[i].frontImage%>" class="index-image" alt="" style="margin: 17px;"></a></td>
      <!-- <td> <%= guitars[i].bodyShape%> </td> -->

      <%}%>

<!-- </ul> -->
</div>
</div>
  </div>
  <div class="container" style="text-align: center;">
  <a href="/luthiers" >Back to Top</a>
    </div>
<%- include('../partials/footer.ejs') %>
