<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="container">
  <h2>Community Daddy</h2>
  <% if (currentUser) { %>
    <form action="/community/new" method="get">
    <input class="button-primary" type="submit" value="Post"/>
</form>
  <%}%>
  <table>
    <table>
    <ul class="column">
      <% for(let i = 0; i < posts.length; i ++){ %>
        <div class="row" style="background-color: white; padding-block-start: 20px; border: double; border-radius: 20px; width: 80%;">
        <li style="maring-left: 10px;"> Posted By: <%= posts[i].posterName %> </li>
        <li style="list-style: none; margin-left: 20px;"> <%= posts[i].post%> </li>
        <li style="font-size: 9px; list-style: none; margin-left: 30px;"> <%= posts[i].createdAt %> </li>
        </div>
        <%}%>
    </ul>
    </table>
  </table>
  <nav>
      <td><a href="/luthiers/">Back to Gallery</a></td>
        <td><a href="/community">Back to Top</a></td>
  </nav>
</div>

<%- include('../partials/footer.ejs') %>
