<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="container">
  <h2>Community Daddy</h2>
  <% if (currentUser) { %>

    <p><a href="/community/new">Post</a></p>

  <%}%>
  <table>
    <table>
    <ul class="column">
      <% for(let i = 0; i < posts.length; i ++){ %>

        <li> <%= posts[i].posterName %> </li>
        <li> <%= posts[i].createdAt %> </li>
        <li> <%= posts[i].post%> </li>

        <%}%>
    </ul>
    </table>
  </table>
  <nav>
    <table>
      <td><a href="/luthiers/">Back to Gallery</a></td>
        <td><a href="/community" style="padding-bottom: 30px;">Back to Top</a></td>
    </table>
  </nav>
</div>

<%- include('../partials/footer.ejs') %>
